<html>
<head>
<title>Solstice Login</title>
<h1>Solstice Login</h1>
</head>

<body>
Username: <input type="text" name="name"><br>
Password: <input type="password" name="pass"><br>
<input type="submit" name="submit"><br>
</body>
</html>